 <!---<li>
    <a href="https://www.duq.edu/academics/faculty/zvonimir-nagy" itemprop="sameAs">
      <i class="fas fa-fw fa-university"></i> Duquesne University
    </a>--->

 <li>
    <a href="https://open.spotify.com/artist/4eaZK3vMIcGbPqVael8e5Q" itemprop="sameAs">
      <i class="fab fa-fw fa-spotify"></i> Spotify
    </a>
 </li>

 <li>
    <a href="https://nagymusic.bandcamp.com" itemprop="sameAs">
      <i class="fab fa-fw fa-bandcamp"></i> bandcamp
    </a>
  </li>

  <li>
    <a href="https://paracletesheetmusic.com/composer/zvonimir-nagy/" itemprop="sameAs">
      <i class="fas fa-fw fa-book-open" aria-hidden="true"></i> Paraclete Press
    </a>
  </li>

  <li>
    <a href="https://www.universaledition.com/zvony-nagy-7865" itemprop="sameAs">
      <i class="fas fa-fw fa-book-open" aria-hidden="true"></i> Universal Edition
    </a>
  </li>
<!---
<li>
    <a href="http://www.ravellorecords.com/catalog/rr7987/" itemprop="sameAs">
      <i class="fas fa-fw fa-compact-disc"></i> PARMA Recordings
    </a>
  </li>

  <li>
    <a href="https://www.albanyrecords.com/mm5/merchant.mvc?Screen=PROD&Product_Code=TROY1699" itemprop="sameAs">
      <i class="fas fa-fw fa-compact-disc"></i> Albany Records
    </a>
  </li>

  <li>
    <a href="http://www.msrcd.com/catalog/cd/MS1515" itemprop="sameAs">
      <i class="fas fa-fw fa-compact-disc"></i> MSR Classics
    </a>


  <li>
    <a href="https://issuu.com/zvonimirnagy/docs" itemprop="sameAs">
      <i class="fas fa-fw fa-book-open" aria-hidden="true"></i> Issuu
    </a>
  </li>

    <li>
    <a href="https://paracletesheetmusic.com/composer/zvonimir-nagy/" itemprop="sameAs">
      <i class="fas fa-fw fa-book-open" aria-hidden="true"></i> Paraclete Press
    </a>

--->
  <li>
    <a href="https://www.routledge.com/Embodiment-of-Musical-Creativity-The-Cognitive-and-Performative-Causality/Nagy/p/book/9781472456793" itemprop="sameAs">
      <i class="fas fa-fw fa-book-open" aria-hidden="true"></i> Routledge
    </a>
  </li>
